header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $secondary;

  .header-item {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:not(:nth-child(2)) {
      padding: .5rem 2.5rem;
    }

    &:nth-child(2) {
      height: 100%;
    }

    .header-menu {
      display: flex;
      align-items: center;

      .btnToggle {
        height: fit-content;

        [name="menu-outline"] {
          vertical-align: middle;
          font-size: 2rem;
        }

      }

      .header-title {
        margin-left: 2rem;
      }

    }

    .header-search {
      width: 400px;

      form {
        display: block;
        position: relative;

        .form-control {
          width: 100%;
          padding: .5rem 2rem;
        }

        #btn-submit_search {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $secondary;

          top: 50%;
          left: 10px;
          transform: translateY(-50%);

          ion-icon {
            vertical-align: middle;
            font-size: 1rem;
          }
        }
      }
    }
  }
}